<h3>Top Heroes</h3>
The template presents a grid of hero name links.
<div class="grid grid-pad">
    <!--Example for taking to one part item based on id with routing-->>
    <a *ngFor="let hero of heroes" class="col-1-4"
    routerLink="/detail/{{hero.id}}">
    <div class="module hero">
    <h4>{{hero.name}}</h4>
    </div>
</a>
</div>
